
.radio-button{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
      -fx-background-color: 
        #3c7fb1,
        linear-gradient(#A2DBD2, #86D1C5),
        linear-gradient(#BADED8 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
}
.table-view{
	-fx-base: #fafdfe;
	-fx-control-inner-background: #fafdfe;
    -fx-table-header-border-color: transparent;
    -fx-font-size: 18px;
    -fx-padding: 5;
	}